*.pyc
*.nfs*
*.egg-info
build
*.csv
*.inv
*.scatangle
*.pyd
*.log
*.mat
docs/epub/*
docs/latex/*
docs/man/*
docs/pdf/*
docs/html/*
dist/*
wheelhouse/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*